{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Exclusão</title>
{% endblock %}

{% block menu %}
<div class="bg-danger">
    <nav class="navbar navbar-expand-lg navbar-light corSecudaria">
        <h3><a class="navbar-brand textBranco" href="#">Pizza IF</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
{% endblock %}

{% block conteudo %}
<h4>Excluir Registros</h4>
<H5>
    <p class="lead">
        Preencha todos os campos
    </p>
</H5>

<hr>

<form action="" method="POST">
    
    <P>
        Deseja Excluir o Registro: <strong>{{ object }}</strong>
    </P>

    <!--Token de validação para segurança-->
    {% csrf_token %}

    <!-- Buscas os campos que eu add em view -->
    {{ form.as_p }}

    <button type="submit" class="btn btn-danger">Excluir</button>

</form>
{% endblock %}