{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Pedido</title>
{% endblock %}

{% block conteudo %}
<div class="textBranco">
    <h4>Escolha os Sabores</h4>

    <hr>
    <form action="" method="POST">

        <!--Token de validação para segurança-->
        {% csrf_token %}

        <!-- Buscas os campos que eu add em view -->
        {{ form|crispy }}

        {% if carrinho %}
        <div class="border-top border-bottom shadow-sm my-4 p-4">
            {% for obj in carrinho %}
            {{obj.quantidade}} x {{obj.produto}} <br>
            {% endfor %}
        </div>
        {% endif %}


        <p class="lead">
            <button type="submit" class="btn btn-warning">Adicionar Pizza</button>

            <a href="{% url 'cadastrar-pedido' %}" class="btn btn-success">Finalizar Pedido</a>

            <a href="{% url 'inicio' %}" class="btn btn-info">Voltar</a>
        </p>

    </form>
</div>
{% endblock %}