{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Pedido</title>
{% endblock %}

{% block conteudo %}
<h4>Escolha os Sabores</h4>

<hr>

<form action="" method="POST">

    <!--Token de validação para segurança-->
    {% csrf_token %}

    <!-- Buscas os campos que eu add em view -->
    {{ form.as_p }}
    

    <p class="lead">
        <a href="{% url 'inicio' %}" class="btn btn-info">Voltar</a>

        <a href="{% url 'listar-produto' %}" class="btn btn-warning">Adicionar Pedido</a>
        <a href="{% url 'cadastrar-pedido' %}" class="btn btn-success">Realizar Pedido</a>

        

        <button type="submit" class="btn btn-success">Finalizar</button>
    </p>

</form>
{% endblock %}