{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Cadastro</title>
{% endblock %}

{% block conteudo %}
<h4>{{ titulo }}</h4>
<H5>
    <p class="lead">
        Preencha todos os campos
    </p>
</H5>

{% if form.errors %}
<div class="alert alert-danger">
    {{ form.errors }}
</div>
{% endif %}

<hr>

<form method="POST">

    <!--Token de validação para segurança-->
    {% csrf_token %}

    <!-- Buscas os campos que eu add em view -->
    {{ form.as_p }}

    {% if carrinho %}
    <div class="border-top border-bottom shadow-sm my-4 p-4">
        {% for obj in carrinho %}
        {{obj.quantidade}} x {{obj.produto}} <br>
        {% endfor %}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-info">{{ botaoAdd }}</button>
    <button type="submit" class="btn btn-success">{{ botao }}</button>

</form>
{% endblock %}