{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Inicio</title>
{% endblock %}

{% block destaque %}
{% endblock %}

{% block conteudo %}
    <div className="home-container">
        <div className="home-content">
            <div className="home-actions">
                <h1 className="home-title">
                    Pizza Maravilhosa <br />
                    Feita Você!!!
                </h1>
                <h3 className="home-subtitle">
                    Pizzas Deliciosas Para Todos os Gostos
                </h3>
                <Link to="/orders" className="home-btn-order">
                PEÇA AGORA
                </Link>
                <button>Peça</button>
            </div>
        </div>
    </div>
{% endblock %}

